body {
	padding-top: 15px;
	padding-bottom: 0px;
}

/* Custom container */

.container {
	margin: 0 auto;
	max-width: 1000px;
}

.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.jumbotron {
	position: relative;
	padding: 45px 0px 35px 0px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background: #30393C;
	background: -moz-linear-gradient(45deg, #30393C 0%, #000000 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #30393C), color-stop(100%, #30393C));
	background: -webkit-linear-gradient(45deg, #30393C 0%, #000000 100%);
	background: -o-linear-gradient(45deg, #30393C 0%, #000000 100%);
	background: -ms-linear-gradient(45deg, #30393C 0%, #000000 100%);
	background: linear-gradient(45deg, #30393C 0%, #000000 100%) repeat;
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.lead {
	margin-bottom: 0px;
	font-size: 21px;
	font-weight: 200;
	line-height: 15px;
}
